{% extends "base.html" %}	

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
<div class="row">
<div class="col-sm-5 col-sm-offset-3">
<h1> About Us </h1>
<p>
  This is About Us. This is About Us.This is About Us.This is About Us.This is About Us.This is About Us.This is About Us.This is About Us.This is About Us.
</p>
<p>
    This is About Us. This is About Us.This is About Us.This is About Us.This is About Us.This is About Us.This is About Us.This is About Us.This is About Us.

</p>
<p>
    This is About Us. This is About Us.This is About Us.This is About Us.This is About Us.This is About Us.This is About Us.This is About Us.This is About Us.

</p>

<p>
    This is About Us. This is About Us.This is About Us.This is About Us.This is About Us.This is About Us.This is About Us.This is About Us.This is About Us.

</p>
  
</div>
  

</div>
 

{% endblock %}